.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8A4CB3;
    padding: 1rem 2rem;
    flex-wrap: wrap;
}

.logo {
    height: 60px;
    width: auto;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.navbar a {
    color: white;
    font-weight: 800;
    transition: color 0.3s;
    text-decoration: none;
}

.navbar a:hover,
.navbar a.active {
    color: #75B34C;
}

.favorite-icon-link {
    display: flex;
    align-items: center;
    margin-left: 2.5rem;
}

.favorite-icon-link.active .favorite-icon {
    filter: none;
    fill: #75B34C;
}
.favorite-icon-link.active svg {
    fill: #75B34C;
}


.favorite-icon {
    width: 28px;
    height: 28px;
    filter: brightness(0) invert(1);
    transition: filter 0.3s;
}
